/* 
*   Estilo Seções 
*/ 
header {  
    display: block;  
    margin-bottom: 1px; 
    } 
    nav { 
    display: block;  
    width: 20%;  
    float: left; 
    } 
    section { 
    display: block;  
    width: 70%; 
    float: right; 
    } 
    /* 
     *   Estilo Geral 
     */ 
    body { 
        color: #000000; 
        font-size: 16px; 
        background-color: #DDCC55; 
        font-family: stoke, Lucida Bright, liberation; 
    } 
     
    a:link    { color:#222222; text-decoration:none; } 
    a:visited { color:#222222; text-decoration:none; } 
     
    ol   { line-height: 200%;                        } 
    ul   { line-height: 200%;                        } 
     
    /* 
     *   Estilo Nav 
     */ 
    nav ul { 
        color: #000000; 
        margin-top: 40px; 
        line-height: 230%;   
        list-style-type: square; 
    } 
     
    /* 
     *   Estilo Header 
     */ 
    .ender { 
        float: right; 
        text-align: right; 
        font-size:  14px; 
        line-height: 140%;  
        font-family: karla, verdana, ubuntu; 
    } 
     
    img.imgLogo { 
        padding-bottom: 15px;  
        border-bottom: solid 3px  #222222; 
        margin-bottom: 6px; 
    } 
     
    /*************************************** 
     *   Estilo Seção Apresentação 
     */ 
    div.apres { 
        text-align: center; 
        font-size:  16px; 
    }

   /**************************************
   *
   *    Estilo Seção Planos
   *
   ***************************************
   */

    
     div.titulo {
        padding-left: 45px;
    }

   div.listaPlano {
    width: 300px;
    background-color: #EEEEBB;
    font-size: 12px;
    pad: var(10px 10px 10px 30px);
    border: solid 3px #202020;
    margin-top: 0%;
   }
   
   ol {
    color: #202020;
    list-style: lower-alpha;
    padding-bottom: 20px;
    margin-bottom: auto;
   }
   ul {
    list-style: square;
    padding-left: auto;
    padding-right: auto;
   }
   span.preco {
    color: #CC0000;
   }
   
   p.foot {
        font-weight: bolder;
        padding-left: 30px; 
        font-size: smaller;
   }

   /* ************************************
   *
   *    Estilizando a Página de Equipamentos
   *
   ***************************************
    */
        
    
    table.tabEquip {
        width: 510px;
        border: 1px solid;
        font-size: 14px;
        margin-bottom: 10px;
        border-collapse: separate;
    }

    table.tabEquip td, table.tabeEquip th {
        padding: 10px;
        border: 1px solid;
    }

    table.tabEquip td {
        font-size: 12px;
        background-color: #EEEEBB;
    }

    th.tabTitulo {
        padding: 14px;
        color: #FFFFFF;
        background-color: #402020;
    }

    th.tabSubTit {
        font-weight: lighter;
        padding: 8px;
        color: #FFFFFF; 
        background-color: #802020;
    }

    .tabEquip .imgCel {
        border: 1px #000000;
        width: 100px;
        background-color: #FFFFFF;
    }

    .imgCel img { 
        border: 5px #000000;
        width: 100px; 
        height: 100px; 
        }

    div.Formulario {
        border: solid 3px #202020;
       width: 400px;
       padding-top: 20px;
       padding-bottom: 20px;
       margin: 0px auto 10px auto;
       color: #202020;
       background-color: #EEEEBB;
       font-size: 12px;
    }

    .fsPessoal {
        width: 340px;
        margin-left: auto;
        margin-right: auto;
    }

    .fsGenero {
        float: right;
        margin-top: 10px;
        margin-right: 10px;
    }

    h3.formTittle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fsCard {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    .linhaNome {
    
    }
        
    .linhaDados {
        height: 130px;
        width: 34px;
    }